input[type=text] {
    margin: auto;
    background-color: white;
    background-position: 10px 10px;
    padding-left: 40px;

    width: 20%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  button{
    width: 10%;
  padding: 5px;
  border-radius: 4px;
  background-color: #f1f1f1;
  }